<script>
	import { createEventDispatcher } from 'svelte';
	import Stars from './Stars.svelte';

	const dispatch = createEventDispatcher();
	export let video;

	async function rate(rating) {
		if (video.rating === rating) {
			rating = -1;
		}
		await fetch(`/rate/${video.id}`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ rating })
		});
		video.rating = rating;
		dispatch('rate', video);
	}
</script>

<div class="embed-container">
	<div class="ratting">
		{#key video.id}
			<Stars stars={5} current={video.rating} {rate} />
		{/key}
	</div>

	<img class="video-img" src={`http://localhost:4000/${video.id}/maxres.jpg`} alt={video.title} />
</div>

<style lang="scss">
	.ratting {
		z-index: 1;
		position: absolute;
		top: 10px;
		right: 0;
	}
	.video-img {
		display: block;
		aspect-ratio: 16/9;
		width: 100%;
		height: auto;
	}

	.video-img {
		object-fit: cover;
		object-position: center;
		will-change: opacity;
		transition: opacity 500ms ease-in-out;
		pointer-events: none;
	}

	.embed-container {
		display: grid;
		contain: paint;

		& > * {
			grid-area: 1 / 1;
		}
	}
</style>
