<script>
	export let current;
</script>

<span class={current != 4 ? 'left-eye' : 'left-eye-4'}></span>
<span class={current != 4 ? 'right-eye' : 'right-eye-4'}></span>
<span class={`mouth-${current}`}></span>

<style>
	.left-eye,
	.left-eye-4,
	.right-eye,
	.right-eye-4,
	.mouth-0,
	.mouth-2,
	.mouth-3,
	.mouth-4 {
		position: absolute;
	}
	.left-eye,
	.right-eye {
		background: var(--face);
		width: 2px;
		height: 2px;
		border-radius: 1px;
		top: 15px;
	}
	.left-eye,
	.left-eye-4 {
		left: 12px;
	}
	.left-eye-4,
	.right-eye-4 {
		top: 15px;
		width: 2px;
		height: 2px;
		border: 1px solid transparent;
		border-top-color: var(--face);
		border-left-color: var(--face);
		transform: rotate(45deg);
	}
	.right-eye,
	.right-eye-4 {
		right: 12px;
	}

	.mouth-0 {
		width: 10px;
		height: 10px;
		top: 20px;
		left: 13px;
		border-radius: 50%;
		border: 1px solid transparent;
		border-top-color: var(--face);
	}
	.mouth-2 {
		width: 6px;
		left: 15px;
		top: 20px;
		height: 1px;
		background: var(--face);
	}
	.mouth-3 {
		width: 10px;
		height: 10px;
		top: 12px;
		left: 13px;
		border-radius: 50%;
		border: 1px solid transparent;
		border-bottom-color: var(--face);
	}
	.mouth-4 {
		width: 6px;
		height: 3px;
		left: 15px;
		top: 20px;
		border-radius: 0 0 3px 3px;
		background: var(--face);
	}
</style>
