<script>
	export let selectedYear = null;
	import { page } from '$app/stores';
</script>

<ol class="year-switch">
	<li class:current-year={!selectedYear}>
		<a href="/">All</a>
	</li>
	{#each $page.data.categories as year}
		<li class:current-year={selectedYear === year}>
			<a href={`/http203-${year}/`}>{year}</a>
		</li>
	{/each}
</ol>

<style lang="scss">
	.year-switch {
		display: flex;
		flex-flow: row wrap;
		padding: 0;
		margin: 0 auto;
		margin-top: var(--content-padding);
		background: var(--white);
		padding: 0.3rem 0.4rem;
		width: fit-content;
		border-radius: 19px;

		& > * {
			display: block;
		}

		& a {
			color: var(--primary-color);
			display: block;
			padding: 0.1rem 0.9rem;
			border-radius: 1000px;
		}
	}

	.current-year {
		& a {
			background: var(--primary-color);
			color: #fff;
		}
	}
</style>
