<script>
	import { formatDate } from '$lib/utils';
	import Stars from './Stars.svelte';
	export let videos;
</script>

<ol class="video-list">
	{#each Object.entries(videos) as [_slug, video] (video.id)}
		{@const href = `/videos/${video.id}`}
		<li>
			<div class="rating">
				<Stars stars={5} current={video.rating} />
			</div>
			<a class="video-link" {href}>
				<img
					class="video-thumb"
					src={`http://localhost:4000/${video.id}/sd.jpg`}
					alt={video.title}
				/>
				<p class="video-meta">
					<time>{formatDate(new Date(video.published))}</time>
				</p>
			</a>
		</li>
	{/each}
</ol>

<style lang="scss">
	li {
		position: relative;
	}
	.rating {
		z-index: 1;
		position: absolute;
		top: 10px;
		right: 0;
	}
	.video-list {
		display: grid;
		margin: 0;
		padding: var(--content-padding);
		grid-template-columns: var(--video-list-columns, repeat(auto-fill, minmax(300px, 1fr)));
		gap: var(--content-padding);
		background: var(--divider);
		grid-auto-flow: var(--video-list-auto-flow);
		grid-auto-columns: var(--video-list-auto-columns);
		grid-auto-rows: var(--video-list-auto-rows);

		& > li {
			display: block;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		}
	}

	.video-thumb {
		width: 100%;
		height: auto;
		display: block;
		aspect-ratio: 16 / 9;
		object-fit: cover;
		object-position: center;
	}

	.video-meta {
		background: var(--white);
		margin: 0;
		padding: 0.4rem 1rem;
		contain: paint;
	}

	.video-link {
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}
</style>
