<script>
	import { setContext } from 'svelte';
	import cacheStore from '$lib/cache.js';
	import '../app.css';
	import { afterNavigate } from '$app/navigation';

	setContext('cache', cacheStore);

	let top;
	afterNavigate((_nav) => {
		top?.scrollIntoView({ behavior: 'smooth' });
	});
</script>

<div class="main-layout">
	<header class="header">
		<a href="/" class="home-link">
			<span class="header-text">HTTP 203</span>
		</a>
	</header>
	<div class="main">
		<div bind:this={top} style="display: hidden"></div>
		<slot />
	</div>
</div>

<style lang="scss">
	.main-layout {
		height: 100%;
		display: grid;
		grid-template-rows: auto 1fr;
	}

	.header {
		background: var(--primary-color);
		color: var(--white);
		height: 54px;
		display: flex;
		align-items: center;
		padding: 0 var(--content-padding);
	}

	.main {
		overflow-x: hidden;
		overflow-y: auto;
		display: grid;
		grid-template-columns: 100%;
	}

	.home-link {
		fill: var(--white);
		color: inherit;
		width: max-content;
	}

	.header-text {
		display: block;
	}
</style>
