<script>
	import Switch from '../lib/Switch.svelte';
	import { page } from '$app/stores';
	import VideoList from '../lib/VideoList.svelte';
	export let data;
</script>

<svelte:head>
	<title>HTTP 203</title>
</svelte:head>

<div>
	<Switch selectedYear={$page.params.year} />
	<VideoList videos={data.videos} />
</div>
